.app {
    .el-container {
        height: 100vh;

        .el-aside {
            width           : 200px;
            background-color: #fafafa;
            border-right    : 1px solid #ddd;

            .menu-title {
                height       : 60px;
                border-bottom: 1px solid #ddd;
                text-align   : center;
                line-height  : 60px;
                font-weight  : 700;
                font-size    : 16px;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }

            .el-menu {
                background-color: transparent;
                width           : auto;

                .menu-item-link {
                    text-decoration: none;
                }

                .el-menu-item.is-active {
                    color           : #409EFF;
                    background-color: #e5e5e5;
                }
            }

        }

        .el-container {
            .el-header {
                background-color: #ffffff;
                display         : flex;
                align-items     : center;
                justify-content : space-between;

                .collapse-icon {
                    font-size  : 30px;
                    font-weight: normal;
                    cursor     : pointer;
                }
            }

            .el-main {
                overflow-y: auto;
            }
        }
    }
}